@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-button-wrapper .glow-button-container {
  position: relative;
  margin: 0 2em;
}

.glow-button-wrapper .glow-button-border {
  padding: 3px;
  inset: 0;
  background: #0005;
  border-radius: inherit;
  clip-path: path(
    "M 90 0 C 121 0 126 5 126 33 C 126 61 121 66 90 66 L 33 66 C 5 66 0 61 0 33 C 0 5 5 0 33 0 Z"
  );
}

.glow-button-wrapper .glow-button-inner {
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.875em;
  clip-path: path(
    "M 90 0 C 115 0 120 5 120 30 C 120 55 115 60 90 60 L 30 60 C 5 60 0 55 0 30 C 0 5 5 0 30 0 Z"
  );
  width: 120px;
  height: 60px;
  background: #111215;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.glow-button-wrapper .glow-real-button {
  position: absolute;
  width: 120px;
  height: 60px;
  z-index: 1;
  outline: none;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  opacity: 0;
}

.glow-button-wrapper .glow-backdrop {
  position: absolute;
  inset: -20%;
  background: transparent;
  z-index: -1;
  pointer-events: none;
}

.glow-button-wrapper .glow-spin {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.5;
  overflow: hidden;
  transition: 0.3s;
}

.glow-button-wrapper .glow-real-button:active ~ div .glow-spin {
  opacity: 1;
}

.glow-button-wrapper .glow-spin-blur {
  filter: blur(2em) url(#unopaq);
}

.glow-button-wrapper .glow-spin-intense {
  inset: -0.125em;
  filter: blur(0.25em) url(#unopaq2);
  border-radius: 0.75em;
}

.glow-button-wrapper .glow-spin-inside {
  inset: -2px;
  border-radius: inherit;
  filter: blur(2px) url(#unopaq3);
  z-index: 0;
}

.glow-button-wrapper .glow-spin::before {
  content: "";
  position: absolute;
  inset: -150%;
  animation:
    speen 8s cubic-bezier(0.56, 0.15, 0.28, 0.86) infinite,
    woah 4s infinite;
}

.glow-button-wrapper .glow-spin-blur::before {
  background: linear-gradient(90deg, #22d3ee 20%, #0000 45%, #a855f7 80%);
}

.glow-button-wrapper .glow-spin-intense::before {
  background: linear-gradient(90deg, #38bdf8 15%, #0000 45% 55%, #c084fc 85%);
}

.glow-button-wrapper .glow-spin-inside::before {
  background: linear-gradient(90deg, #0ea5e9 25%, #0000 45% 55%, #e879f9 75%);
}

@keyframes speen {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: 190deg;
  }
  to {
    rotate: 370deg;
  }
}

@keyframes woah {
  0%,
  to {
    scale: 1;
  }
  50% {
    scale: 0.75;
  }
}

